<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fontawesome cdn link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- animate.css cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- jquery cdn link -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- jquery-ui cdn link -->
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <link rel="stylesheet" href="./css/home.css">
    <title>home</title>
</head>

<body>

    <!--################################
            CONTAINER - START
    #################################-->

    <div class="container animate__animated animate__zoomIn">
        <div class="heading">
            <h1> <i class="fas fa-clipboard-list"></i> To Do App</h1>
            <h4><%=data.length%> Tasks</h4>
        </div>

        <!--################################
            EMPTY TASKS DIV - START
        #################################-->
        <% if(data.length==0){%>
        <div class="no-tasks">

            <div class="emptylist">
            </div>
            <div class="message">
                <h1>Congratulation! There is no task to do.</h1>
            </div>
        </div>
        <%}%>
        <!----------------------------------
               EMPTY TASKS DIV -END 
        ------------------------------------>

        <!--################################
                TASKS LIST DIV - START
        #################################-->
        <% if (data.length>0){%>
        <div class="list-header">
            <a href="/delete" class="delete-btn"><button>Delete</button></a>
            <div class="filter">
                <button><i class="fas fa-filter"></i></button>
                <div class="dropdown">
                   
                        <a href="/?filter=all"  data-val="all"><option value="all">All </option></a>
                        <a href="/?filter=done"  data-val="done"> <option value="done">Done</option></a> 
                        <a href="/?filter=undone"  data-val="undone"><option value="undone">Undone</option></a>
                        <a href="/?filter=latest"  data-val="latest">  <option value="latest">Latest</option> </a>
                        <a href="/?filter=oldest"  data-val="oldest"> <option value="oldest">Oldest</option> </a> 
                        <a href="/?filter=home" data-val="home"> <option value="home">home</option> </a> 
                         <a href="/?filter=profession"  data-val="profession"> <option value="profession">professional</option></a> 
                         <a href="/?filter=personal"  data-val="school"><option value="school">Personal</option></a>
                         <a href="/?filter=other"  data-val="other"> <option value="other">Other</option> </a> 
                </div>
            </div>
        </div>
        
        <div class="task-list">
            <div class="top-todos">
                <h3>Top task(s) :</h3>
                <ul id="sortable" class="sortable">

                    <% for(i of data){ %>
                        <% if(i.priority){ %>
                        <li> <div class="card">
                            <div class="my-info">
                                <div class="checkbox">
                                    <% if(i.done){ %>
                                        <form action="/checkbox/?id=<%=i._id%>&check=true" method="post">
                                            <input type="checkbox"  name="<%=i._id%>"  id="<%=i._id%>" value="checked" onchange="this.form.submit()" checked > 
                                        </form>
                                        <%}
                                         else{%>
                                            <form action="/checkbox" method="post">
                                                <input type="checkbox" name="<%=i._id%>"  id="<%=i._id%>" onchange="this.form.submit()"> 
                                            </form>
                                            <%}%>
                                </div>
                                <div class="task-info">
                                    <% if(i.done){ %>
                                        <label class="checkbox-checked" for="<%=i._id %>"><%=i.task %></label>
                                        <%}
                                        else{%>
                                           <label  for="<%=i._id %>"><%=i.task %></label>
                                           <%}%>
                                     <br>
                                    <span class="task-date"><i class="fas fa-calendar-alt"></i><% if(i.date!=null){%>
                                         <%=i.date.toDateString()%>
                                        <%}
                                    else{%>
                                        No Date
                                        <%}%>
                                    </span>
                                </div>
                            </div>
                            <a href="/priority/?id=<%=i._id%>&priority=<%=i.priority%>" class="star"><i class="fas fa-star"></i></a>
                            <div class="tasks-category">
                                <div class="tags <%= i.tag %>">
                                    <%=i.tag%>
                                </div>
                            </div>
                        </div> </li>
                        <% }%>
                        <%}%>
                </ul>
            </div>
            
            <div class="todos">
                <h3> Your Tasks :</h3>
                <div class="scrollable-todos">
                    <ul class="sortable">
                        <% for(i of data){ %>
                            <% if(!i.priority){ %>
                            <li> <div class="card">
                                <div class="my-info">
                                    <div class="checkbox">
                                        <% if(i.done){ %>
                                        <form  action="/checkbox/?id=<%=i._id%>&check=true" method="post">
                                            <input type="checkbox" action="/checkbox" name="<%=i._id%>"  id="<%=i._id%>" value="checked" onchange="this.form.submit()" checked > 
                                        </form>
                                        <%}
                                         else{%>
                                            <form action="/checkbox" method="post">
                                                <input type="checkbox" action="/checkbox" name="<%=i._id%>"  id="<%=i._id%>" onchange="this.form.submit()"> 
                                            </form>
                                            <%}%>
                                    </div>
                                    <div class="task-info">
                                        <% if(i.done){ %>
                                         <label class="checkbox-checked" for="<%=i._id %>"><%=i.task %></label>
                                         <%}
                                         else{%>
                                            <label  for="<%=i._id %>"><%=i.task %></label>
                                            <%}%>
                                         <br>
                                        <span class="task-date"><i class="fas fa-calendar-alt"></i><% if(i.date!=null){%>
                                             <%=i.date.toDateString()%>
                                            <%}
                                        else{%>
                                            No Date
                                            <%}%>
                                        </span>
                                    </div>
                                <!-- </form> -->
                                </div>
                                <a href="/priority/?id=<%=i._id%>&priority=<%=i.priority%>" class="star"><i class="far fa-star"></i></a>
                                <div class="tasks-category">
                                    <div class="tags <%= i.tag %>">
                                        <%=i.tag%>
                                    </div>
                                </div>
                            </div> </li>
                            <% }%>
                            <%}%>
                    </ul>
                </div>
            </div>
        </div>
        <% }%>
        <!----------------------------------
                TASKS LIST DIV -END 
        ------------------------------------>
        <!-- <div class="plus"> -->
        <button class="plus">+</button>
        <!-- </div> -->
        <div class="to-do-inputs  animate__animated">
            <form action="/task" method="post">
                <div class="task-div">
                    <h3>Task:</h3>
                    <input type="text" id="task" name="task" required placeholder="What do you need to do?">
                </div>
                <div class="category-div">
                    <h3>Categories:</h3>
                    <select name="tag" id="categories">
                        <option value="none" disabled selected>Select Categories</option>
                        <option value="home">Home</option>
                        <option value="professional">professional</option>
                        <option value="personal">Personal</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="date-div">
                    <h3>Date:</h3>
                    <input type="date" id="date" name="date" placeholder="What do you need to do?">
                </div>
                <div class="button-div">
                    <button type="submit">Add Task</button> <br><br>
                </div>
            </form>
            <button id="cancel">Cancel</button>
        </div>
    </div>
    </div>

    <!----------------------------------
            CONTAINER - END
    ------------------------------------>
    <script src="./js/home.js"></script>
</body>

</html>